@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";
:root[data-theme="light"] {
  --grad-start: 208 100% 96%; /* #ECF6FF */
  --grad-end:   40 100% 86%;  /* #FFE8BB */
}

/* Dark theme values (pick what you like) */
:root[data-theme="dark"] {
  --grad-start: 217 33% 17%;  /* ~neutral-900 */
  --grad-end:   222 15% 23%;  /* ~neutral-800 */
}

ul a {
  position: relative;
  padding-bottom: 4px; /* space for underline */
}

ul a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background-color: #180d38;
  transition: width 0.3s ease;
}

ul a.active::after {
  width: 100%; /* animate underline expanding */
}
